name: Build and Push Subgraph Deployer Docker Image

on:
  push:
    tags:
      - '*'  # Trigger on tag push
  workflow_dispatch:

jobs:
  # Need to compute the tag based on the event type
  compute-tag:
    runs-on: ubuntu-latest
    outputs:
      computed_tag: ${{ steps.set_tag.outputs.computed_tag }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set image tag
        id: set_tag
        run: |
          set -e
          if [ "${GITHUB_EVENT_NAME}" = "workflow_dispatch" ]; then
            latest_tag=$(git describe --tags --abbrev=0)
            echo "computed_tag=${latest_tag}+dev+${GITHUB_SHA}" >> $GITHUB_OUTPUT
          else
            echo "computed_tag=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT

  build:
    needs: compute-tag
    uses: iExecBlockchainComputing/github-actions-workflows/.github/workflows/docker-build.yml@docker-build-v2.3.1
    with:
      image-name: 'iexechub/voucher-subgraph-deployer'
      image-tag: ${{ needs.compute-tag.outputs.computed_tag }}
      security-scan: false
      hadolint: false
      push: true
    secrets:
      username: ${{ secrets.DOCKERHUB_USERNAME }}
      password: ${{ secrets.DOCKERHUB_PAT }}
